.navbar-brand {
  color: red;
  font-size:xx-large;
}

.jumbotron {
    /* Gebruik background-color als u alleen de achtergrondkleur wilt aanpassen */
    background-image: url("/static/images/ghana_beach.jpg");
    background-size: cover;
    color: white;
    height: 350px;
    margin-top: 10px;
  }

  .display-3 {
    text-align: right;
  }


.navbar .nav-link {
  margin-top: 40px;
  color: black;
}

.navbar a:hover {
  background-color: lightgray;
}

.navbar a.active {
  color: blueviolet;
}

#intro {
  font-size: large;
}

.card-header {
  background-color: #90EE90;
}

a {
  color:blue;
  text-decoration: none;
}

.card {
  
}