.navbar-brand {
  color: red;
  font-size:xx-large;
}

.jumbotron {
    /* Gebruik background-color als u alleen de achtergrondkleur wilt aanpassen */
    background-image: url("/static/images/imgStrand.jpg");
    background-size: cover;
    color: white;
    height: 500px;
    margin-top: 30px;
  }


.navbar .nav-link {
  margin-top: 40px;
  color: black;
}

.navbar a:hover {
  background-color: lightgray;
}

.navbar a.active {
  color: blueviolet;
}

#intro {
  font-size: large;
}