<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-4">
        <h2> Accomodatie in Ghana</h2>
        <br><br>
        <div class="card" style="width: 18rem;">
            <img src="/static/images/la-palm.jpg" class="card-img-top" alt="La Palm">
            <div class="card-body">
              <h5 class="card-title">La Palm Royal Beach Hotel****</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
</div>




{% endblock content %}