<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container">
  <h2> Accomodatie in Ghana</h2>
  <br><br>
    <h5>Greater Accra</h5>
    <br>
    <div class="row">
      <div class="col-3">
        <div class="card h-100">
          <img src="/static/images/la-palm.jpg" class="card-img-top" alt="La Palm">
            <div class="card-body">
              <h5 class="card-title">La Palm Royal Beach Hotel****</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

    <div class="col-3">
      <div class="card h-100">
        <img src="/static/images/labadi-beach.jpg" class="card-img-top" alt="Labadi Beach Hotel">
          <div class="card-body">
            <h5 class="card-title">Coconut Grove Beach Resort*****</h5>
            <p class="card-text">Locatie: Accra</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card h-100">
          <img src="/static/images/golden-tulip.jpg" class="card-img-top" alt="Golden Tulip">
            <div class="card-body">
              <h5 class="card-title">Golden Tulip****</h5>
              <p class="card-text">Locatie: Accra</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      <div class="col-3">
        <div class="card h-100">
          <img src="/static/images/novotel.jpg" class="card-img-top" alt="Novotel">
            <div class="card-body">
              <h5 class="card-title">Novotel City Centre Hotel****</h5>
              <p class="card-text">Locatie: Accra</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    <br>

    <h5>Central Region</h5>
    <br>
    <div class="row">
    <div class="col-3">
      <div class="card h-100">
        <img src="/static/images/elmina-beach.jpg" class="card-img-top" alt="Elmina-Beach">
          <div class="card-body">
            <h5 class="card-title">Elmina Beach Resort***</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

    <div class="col-3">
      <div class="card h-100">
        <img src="/static/images/coconut-grove.jpg" class="card-img-top" alt="Coconut-Grove">
          <div class="card-body">
            <h5 class="card-title">Coconut Grove Beach Resort***</h5>
            <p class="card-text">Locatie: Cape Coast</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    

  </div>
</div>



{% endblock content %}